apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  FRONTEND_URL: "http://a780d6f74e4a34e1cb0a878929fc8f12-1520039555.us-east-1.elb.amazonaws.com"
  BACKEND_URL: "http://backend-service:3000"
  MAILER_URL: "http://mailer-service:3002"
